html {
  height: 98%;
  width: 99%;
}

* {
  height: 100%;
  width: 100%;
}

.messageBoard {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  margin: 1rem;

  * {
    height: initial;
    width: initial;
  }

  #chatroomPassword {
    background-color: lemonchiffon;
    height: 8rem;
    width: 18rem;
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  header {
    background-color: orange;
    height: 8rem;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;

    h1 {
      font-size: 60px;
      margin: 0;
    }

    button {
      background-color: mediumseagreen;
      border: 1px solid mediumseagreen;
      color: white;
      font: 1.8rem bold;
      position: absolute;
      right: 0;
      height: 100%;
      overflow-wrap: normal;
      width: 10rem;
    }
  }

  main {
    display: flex;
    height: 100%;
  }

  nav {
    background-color: lightseagreen;
    height: 100%;
    width: 15rem;
    position: relative;

    .favorites {
      text-align: center;
    }

    button {
      background-color: crimson;
      border: 1px solid crimson;
      color: whitesmoke;
      font: 1.8rem bold;
      position: absolute;
      bottom: 0;
      height: 3rem;
      width: 100%;
    }
  }

  section {
    background-color: orchid;
    height: 100%;
    width: 100%;

    .chatroomrows {
      margin: 5px;
      padding-left: 10px;
      border: 1px solid black;
      display: flex;
      position: relative;

      button {
        // background-color: mediumseagreen;
        // border: 1px solid mediumseagreen;
        // color: white;
        // font: 1.8rem bold;
        position: absolute;
        right: 0;
        // height: 100%;
        // overflow-wrap: normal;
        // width: 10rem;
      }
    }
  }
}